# Development and testing dependencies
pytest
flake8
black
mypy

# For property-based testing
# hypothesis

# For notebooks
jupyterlab

# For documentation
sphinx
sphinx-rtd-theme
sphinx-autodoc-typehints
myst-parser
nbsphinx 